@font-face {
  font-family: Lora;
  src: url('/src/assets/fonts/Lora-Regular.ttf');
}
@font-face {
  font-family: Oxygen;
  src: url('/src/assets/fonts/Oxygen-Regular.ttf');
}

@import 'tailwindcss';

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@theme {
  --color-mainColor: #dd783f;
  --color-textColor: #768088;
  --color-cardDesc: #7a7a7a;
  --color-cardBg: #999999;
  --font-Lora: Lora;
  --font-Oxygen: Oxygen;
}
body {
  background: #f7f7f7;
}
button,
input {
  outline: none;
  cursor: pointer;
}
